### Import necessary libraries and read data

In [1]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as plt

df = pd.read_csv("train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Feature Engineering

#### check if we need data or not (if there is some types of Ticket we should consider this column and it could affect our result)

In [2]:
df['Ticket'].head(20)

0            A/5 21171
1             PC 17599
2     STON/O2. 3101282
3               113803
4               373450
5               330877
6                17463
7               349909
8               347742
9               237736
10             PP 9549
11              113783
12           A/5. 2151
13              347082
14              350406
15              248706
16              382652
17              244373
18              345763
19                2649
Name: Ticket, dtype: object

#### remove columns that have no effect on the final result

In [3]:
df.drop('Name',inplace = True,axis = 1)
df.drop('Ticket',inplace = True,axis = 1)
df.drop('PassengerId',inplace = True,axis = 1)

#### check in which columns we have nan datas and if true , how many they are

In [4]:
df['Survived'].isnull().values.any()

False

In [5]:
df['Pclass'].isnull().values.any()

False

In [6]:
df['Age'].isnull().values.any()

True

##### here we have 177 datas out of 891 without age,i use interpolate to fill them

In [7]:
df['Age'].isna().sum()

177

In [8]:
df['Age'] = df['Age'].interpolate()

In [9]:
df['SibSp'].isnull().values.any()

False

In [10]:
df['Parch'].isnull().values.any()

False

In [11]:
df['Sex'].isnull().values.any()

False

In [12]:
df['Fare'].isnull().values.any()

False

In [13]:
df['Cabin'].isnull().values.any()

True

##### most of cabin values are missing so we should drop this column too

In [14]:
df['Cabin'].isna().sum()

687

In [15]:
df.drop('Cabin',inplace = True,axis = 1)

##### change sexes values to 1 as male and 0 as female

In [16]:
df['Sex'] = df['Sex'].replace({"male": 1, "female": 0})

In [17]:
df['Embarked'].isnull().values.any()

True

##### number of missing values in Embarked column is 2 so i used one-hotting (change categorical data to numeric)

In [18]:
df['Embarked'].isna().sum()

2

In [19]:
df = pd.get_dummies(df)

##### fare range is from 0 to almost 513 so we can't normalize it.

In [20]:
df['Fare'].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [21]:
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,1,22.0,1,0,7.2500,0,0,1
1,1,1,0,38.0,1,0,71.2833,1,0,0
2,1,3,0,26.0,0,0,7.9250,0,0,1
3,1,1,0,35.0,1,0,53.1000,0,0,1
4,0,3,1,35.0,0,0,8.0500,0,0,1
...,...,...,...,...,...,...,...,...,...,...
886,0,2,1,27.0,0,0,13.0000,0,0,1
887,1,1,0,19.0,0,0,30.0000,0,0,1
888,0,3,0,22.5,1,2,23.4500,0,0,1
889,1,1,1,26.0,0,0,30.0000,1,0,0
890,0,3,1,32.0,0,0,7.7500,0,1,0

#### initialize target and features data and split our train data to train and valid

In [22]:
X = np.array(df[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked_C','Embarked_Q','Embarked_S']])
y = np.array(df['Survived'])

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.20)

#### read test data and see its format

In [24]:
dftest = pd.read_csv("test.csv")
dftest.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

#### like before we should clean it

In [25]:
dftest.drop('Name',inplace = True,axis = 1)
dftest.drop('Ticket',inplace = True,axis = 1)
dftest.drop('PassengerId',inplace = True,axis = 1)
dftest.drop('Cabin',inplace = True,axis = 1)

In [26]:
dftest['Pclass'].isnull().values.any()

False

In [27]:
dftest['Age'].isnull().values.any()

True

In [28]:
dftest['Age'] = dftest['Age'].interpolate()

In [29]:
dftest['Pclass'].isnull().values.any()

False

In [30]:
dftest['Sex'].isnull().values.any()

False

In [31]:
dftest['SibSp'].isnull().values.any()

False

In [32]:
dftest['Parch'].isnull().values.any()

False

In [33]:
dftest['Fare'].isnull().values.any()

True

In [34]:
avg = dftest['Fare'].mean()
dftest['Fare'] = dftest['Fare'].fillna(avg)

In [35]:
dftest['Embarked'].isnull().values.any()

False

In [36]:
dftest['Sex'] = dftest['Sex'].replace({"male": 1, "female": 0})

In [37]:
dftest = pd.get_dummies(dftest)
dftest

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,3,1,34.5,0,0,7.8292,0,1,0
1,3,0,47.0,1,0,7.0000,0,0,1
2,2,1,62.0,0,0,9.6875,0,1,0
3,3,1,27.0,0,0,8.6625,0,0,1
4,3,0,22.0,1,1,12.2875,0,0,1
...,...,...,...,...,...,...,...,...,...
413,3,1,33.5,0,0,8.0500,0,0,1
414,1,0,39.0,0,0,108.9000,1,0,0
415,3,1,38.5,0,0,7.2500,0,0,1
416,3,1,38.5,0,0,8.0500,0,0,1
417,3,1,38.5,1,1,22.3583,1,0,0

### KNN

#### make an array with size of train data to use in dist matrix to get the indexes of train data

In [38]:
x = list(range(0,712))
x = np.array(x)

#### define dist function to compute Euclidean distant

In [39]:
import math
def dist(x,y,length):
    d = 0
    for i in range(length):
        d += pow(x[i]-y[i],2)
    return math.sqrt(d)

#### define knn function: first make an empty array of size 712 to store distance of each training data and test data.
#### then pass x array as col_train that we made before as indexes .then in a for loop we compute the distance and append it to the col_dist
#### then append col_dist to alldist matrix as distances

In [40]:
def knn(X_train,point,k):
    alldist = np.empty((712, 0), float)
    col_train = x
    alldist = np.append(alldist, np.array([x]).transpose(), axis=1)
    col_dist = []
    for i in range(len(X_train)):
        col_dist.append(dist(X_train[i],point,len(X_train[i])))
        
    alldist = np.append(alldist, np.array([col_dist]).transpose(), axis=1)
    return alldist

#### define X_test with wanted series

In [41]:
X_test = np.array(dftest[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked_C','Embarked_Q','Embarked_S']])
print(len(X_test))
print(len(X_train))

418
712

#### now we want to validate our model,we should use knn function to compute the distances for each X_valid and get the distance matrix.
#### then we should sort our matrix to see the minimum distances (nearest neighbours) at top.
#### then for a wanted k (that it should be odd) we'll find the maximum count answer(that it's y_train for corresponding X_train)
#### we should use method np.bincount to get that(for example: if we have 1 1 0 1 0 as y_train for nearest neighbours then answer is 1 cuz of the most frequent item is 1!)

In [42]:
k = 5
ypredknnval = []
for i in range(len(X_valid)):
    distpoint = knn(X_train,X_valid[i],5)
    sortedArr = distpoint[distpoint[:,1].argsort()] 
    y = []
    y_predknn = 0
    for j in range(k):
        y.append(y_train[int(sortedArr[:k,0][j])])
        
    y_predknn = np.bincount(y).argmax()
    ypredknnval.append(y_predknn)
    print('validpred ',i,' real_val: ',y_valid[i],' , predicted_val: ',y_predknn)

validpred  0  real_val:  1  , predicted_val:  1
validpred  1  real_val:  1  , predicted_val:  0
validpred  2  real_val:  0  , predicted_val:  0
validpred  3  real_val:  1  , predicted_val:  0
validpred  4  real_val:  0  , predicted_val:  0
validpred  5  real_val:  0  , predicted_val:  0
validpred  6  real_val:  0  , predicted_val:  0
validpred  7  real_val:  0  , predicted_val:  0
validpred  8  real_val:  1  , predicted_val:  0
validpred  9  real_val:  1  , predicted_val:  0
validpred  10  real_val:  1  , predicted_val:  0
validpred  11  real_val:  1  , predicted_val:  1
validpred  12  real_val:  0  , predicted_val:  0
validpred  13  real_val:  0  , predicted_val:  0
validpred  14  real_val:  1  , predicted_val:  1
validpred  15  real_val:  0  , predicted_val:  0
validpred  16  real_val:  0  , predicted_val:  0
validpred  17  real_val:  0  , predicted_val:  0
validpred  18  real_val:  1  , predicted_val:  1
validpred  19  real_val:  1  , predicted_val:  0
validpred  20  real_val:  1  , predicted_val:  0
validpred  21  real_val:  0  , predicted_val:  0
validpred  22  real_val:  0  , predicted_val:  1
validpred  23  real_val:  1  , predicted_val:  0
validpred  24  real_val:  0  , predicted_val:  0
validpred  25  real_val:  0  , predicted_val:  0
validpred  26  real_val:  0  , predicted_val:  1
validpred  27  real_val:  1  , predicted_val:  0
validpred  28  real_val:  1  , predicted_val:  0
validpred  29  real_val:  0  , predicted_val:  0
validpred  30  real_val:  0  , predicted_val:  0
validpred  31  real_val:  0  , predicted_val:  0
validpred  32  real_val:  0  , predicted_val:  0
validpred  33  real_val:  0  , predicted_val:  0
validpred  34  real_val:  0  , predicted_val:  1
validpred  35  real_val:  0  , predicted_val:  0
validpred  36  real_val:  0  , predicted_val:  1
validpred  37  real_val:  0  , predicted_val:  0
validpred  38  real_val:  0  , predicted_val:  0
validpred  39  real_val:  1  , predicted_val:  1
validpred  40  real_val:  0  , predicted_val:  0
validpred  41  real_val:  1  , predicted_val:  1
validpred  42  real_val:  1  , predicted_val:  0
validpred  43  real_val:  1  , predicted_val:  0
validpred  44  real_val:  1  , predicted_val:  1
validpred  45  real_val:  0  , predicted_val:  0
validpred  46  real_val:  0  , predicted_val:  0
validpred  47  real_val:  0  , predicted_val:  1
validpred  48  real_val:  0  , predicted_val:  1
validpred  49  real_val:  0  , predicted_val:  0
validpred  50  real_val:  0  , predicted_val:  0
validpred  51  real_val:  0  , predicted_val:  1
validpred  52  real_val:  0  , predicted_val:  1
validpred  53  real_val:  0  , predicted_val:  0
validpred  54  real_val:  0  , predicted_val:  0
validpred  55  real_val:  1  , predicted_val:  0
validpred  56  real_val:  0  , predicted_val:  1
validpred  57  real_val:  1  , predicted_val:  1
validpred  58  real_val:  1  , predicted_val:  0
validpred  59  real_val:  0  , predicted_val:  0
validpred  60  real_val:  1  , predicted_val:  1
validpred  61  real_val:  0  , predicted_val:  0
validpred  62  real_val:  0  , predicted_val:  0
validpred  63  real_val:  0  , predicted_val:  1
validpred  64  real_val:  0  , predicted_val:  1
validpred  65  real_val:  0  , predicted_val:  0
validpred  66  real_val:  1  , predicted_val:  1
validpred  67  real_val:  0  , predicted_val:  0
validpred  68  real_val:  1  , predicted_val:  1
validpred  69  real_val:  0  , predicted_val:  0
validpred  70  real_val:  0  , predicted_val:  0
validpred  71  real_val:  1  , predicted_val:  0
validpred  72  real_val:  1  , predicted_val:  0
validpred  73  real_val:  1  , predicted_val:  0
validpred  74  real_val:  0  , predicted_val:  0
validpred  75  real_val:  0  , predicted_val:  1
validpred  76  real_val:  0  , predicted_val:  1
validpred  77  real_val:  1  , predicted_val:  0
validpred  78  real_val:  0  , predicted_val:  0
validpred  79  real_val:  0  , predicted_val:  0
validpred  80  real_val:  1  , predicted_val:  0
validpred  81  real_val:  1  , predicted_val:  0
validpred  82  real_val:  1  , predicted_val:  1
validpred  83  real_val:  0  , predicted_val:  0
validpred  84  real_val:  0  , predicted_val:  1
validpred  85  real_val:  0  , predicted_val:  0
validpred  86  real_val:  1  , predicted_val:  1
validpred  87  real_val:  0  , predicted_val:  0
validpred  88  real_val:  1  , predicted_val:  1
validpred  89  real_val:  0  , predicted_val:  1
validpred  90  real_val:  1  , predicted_val:  0
validpred  91  real_val:  0  , predicted_val:  1
validpred  92  real_val:  0  , predicted_val:  0
validpred  93  real_val:  0  , predicted_val:  0
validpred  94  real_val:  1  , predicted_val:  0
validpred  95  real_val:  1  , predicted_val:  1
validpred  96  real_val:  1  , predicted_val:  1
validpred  97  real_val:  0  , predicted_val:  0
validpred  98  real_val:  1  , predicted_val:  1
validpred  99  real_val:  0  , predicted_val:  0
validpred  100  real_val:  1  , predicted_val:  1
validpred  101  real_val:  0  , predicted_val:  0
validpred  102  real_val:  0  , predicted_val:  0
validpred  103  real_val:  1  , predicted_val:  1
validpred  104  real_val:  1  , predicted_val:  0
validpred  105  real_val:  0  , predicted_val:  1
validpred  106  real_val:  1  , predicted_val:  0
validpred  107  real_val:  1  , predicted_val:  0
validpred  108  real_val:  0  , predicted_val:  0
validpred  109  real_val:  0  , predicted_val:  0
validpred  110  real_val:  0  , predicted_val:  0
validpred  111  real_val:  1  , predicted_val:  1
validpred  112  real_val:  0  , predicted_val:  1
validpred  113  real_val:  1  , predicted_val:  0
validpred  114  real_val:  0  , predicted_val:  1
validpred  115  real_val:  1  , predicted_val:  1
validpred  116  real_val:  0  , predicted_val:  0
validpred  117  real_val:  0  , predicted_val:  0
validpred  118  real_val:  0  , predicted_val:  1
validpred  119  real_val:  0  , predicted_val:  0
validpred  120  real_val:  1  , predicted_val:  1
validpred  121  real_val:  0  , predicted_val:  0
validpred  122  real_val:  0  , predicted_val:  0
validpred  123  real_val:  0  , predicted_val:  0
validpred  124  real_val:  0  , predicted_val:  0
validpred  125  real_val:  1  , predicted_val:  1
validpred  126  real_val:  0  , predicted_val:  0
validpred  127  real_val:  1  , predicted_val:  0
validpred  128  real_val:  1  , predicted_val:  0
validpred  129  real_val:  0  , predicted_val:  1
validpred  130  real_val:  0  , predicted_val:  0
validpred  131  real_val:  0  , predicted_val:  0
validpred  132  real_val:  0  , predicted_val:  1
validpred  133  real_val:  0  , predicted_val:  0
validpred  134  real_val:  0  , predicted_val:  1
validpred  135  real_val:  0  , predicted_val:  1
validpred  136  real_val:  0  , predicted_val:  0
validpred  137  real_val:  0  , predicted_val:  0
validpred  138  real_val:  1  , predicted_val:  1
validpred  139  real_val:  0  , predicted_val:  0
validpred  140  real_val:  0  , predicted_val:  0
validpred  141  real_val:  0  , predicted_val:  0
validpred  142  real_val:  0  , predicted_val:  0
validpred  143  real_val:  1  , predicted_val:  0
validpred  144  real_val:  1  , predicted_val:  1
validpred  145  real_val:  0  , predicted_val:  0
validpred  146  real_val:  1  , predicted_val:  0
validpred  147  real_val:  1  , predicted_val:  0
validpred  148  real_val:  0  , predicted_val:  0
validpred  149  real_val:  0  , predicted_val:  0
validpred  150  real_val:  0  , predicted_val:  0
validpred  151  real_val:  1  , predicted_val:  1
validpred  152  real_val:  0  , predicted_val:  0
validpred  153  real_val:  0  , predicted_val:  0
validpred  154  real_val:  1  , predicted_val:  1
validpred  155  real_val:  1  , predicted_val:  0
validpred  156  real_val:  0  , predicted_val:  0
validpred  157  real_val:  0  , predicted_val:  0
validpred  158  real_val:  1  , predicted_val:  0
validpred  159  real_val:  0  , predicted_val:  0
validpred  160  real_val:  1  , predicted_val:  1
validpred  161  real_val:  0  , predicted_val:  0
validpred  162  real_val:  0  , predicted_val:  0
validpred  163  real_val:  0  , predicted_val:  1
validpred  164  real_val:  1  , predicted_val:  1
validpred  165  real_val:  0  , predicted_val:  0
validpred  166  real_val:  1  , predicted_val:  0
validpred  167  real_val:  1  , predicted_val:  1
validpred  168  real_val:  1  , predicted_val:  0
validpred  169  real_val:  0  , predicted_val:  0
validpred  170  real_val:  0  , predicted_val:  0
validpred  171  real_val:  0  , predicted_val:  0
validpred  172  real_val:  1  , predicted_val:  1
validpred  173  real_val:  0  , predicted_val:  0
validpred  174  real_val:  0  , predicted_val:  0
validpred  175  real_val:  0  , predicted_val:  0
validpred  176  real_val:  0  , predicted_val:  1
validpred  177  real_val:  0  , predicted_val:  0
validpred  178  real_val:  1  , predicted_val:  0

#### loss function to check the validation if it's small,it's ok

In [43]:
print(abs(np.mean(y_valid-ypredknnval)))

0.055865921787709494

#### do the same thing like before for test.

In [44]:
k = 5
ypredknntest = []
for i in range(len(X_test)):
    distpoint = knn(X_train,X_test[i],5)
    sortedArr = distpoint[distpoint[:,1].argsort()]  
    y = []
    y_predknn = 0
    for j in range(k):
        y.append(y_train[int(sortedArr[:k,0][j])])
        
    y_predknn = np.bincount(y).argmax()
    ypredknntest.append(y_predknn)
    print('testpred ',i,' : ',y_predknn)

testpred  0  :  0
testpred  1  :  0
testpred  2  :  0
testpred  3  :  0
testpred  4  :  0
testpred  5  :  1
testpred  6  :  0
testpred  7  :  1
testpred  8  :  0
testpred  9  :  1
testpred  10  :  0
testpred  11  :  1
testpred  12  :  1
testpred  13  :  0
testpred  14  :  1
testpred  15  :  1
testpred  16  :  0
testpred  17  :  0
testpred  18  :  1
testpred  19  :  0
testpred  20  :  1
testpred  21  :  0
testpred  22  :  0
testpred  23  :  1
testpred  24  :  1
testpred  25  :  0
testpred  26  :  1
testpred  27  :  0
testpred  28  :  1
testpred  29  :  0
testpred  30  :  1
testpred  31  :  1
testpred  32  :  0
testpred  33  :  1
testpred  34  :  1
testpred  35  :  0
testpred  36  :  0
testpred  37  :  0
testpred  38  :  0
testpred  39  :  1
testpred  40  :  0
testpred  41  :  0
testpred  42  :  0
testpred  43  :  0
testpred  44  :  1
testpred  45  :  0
testpred  46  :  1
testpred  47  :  0
testpred  48  :  1
testpred  49  :  1
testpred  50  :  1
testpred  51  :  0
testpred  52  :  1
testpred  53  :  1
testpred  54  :  0
testpred  55  :  0
testpred  56  :  0
testpred  57  :  0
testpred  58  :  0
testpred  59  :  1
testpred  60  :  0
testpred  61  :  1
testpred  62  :  0
testpred  63  :  1
testpred  64  :  1
testpred  65  :  0
testpred  66  :  0
testpred  67  :  0
testpred  68  :  1
testpred  69  :  1
testpred  70  :  0
testpred  71  :  0
testpred  72  :  0
testpred  73  :  0
testpred  74  :  1
testpred  75  :  1
testpred  76  :  0
testpred  77  :  0
testpred  78  :  0
testpred  79  :  0
testpred  80  :  1
testpred  81  :  1
testpred  82  :  1
testpred  83  :  0
testpred  84  :  0
testpred  85  :  0
testpred  86  :  1
testpred  87  :  0
testpred  88  :  0
testpred  89  :  1
testpred  90  :  1
testpred  91  :  0
testpred  92  :  1
testpred  93  :  0
testpred  94  :  0
testpred  95  :  0
testpred  96  :  1
testpred  97  :  0
testpred  98  :  0
testpred  99  :  0
testpred  100  :  1
testpred  101  :  0
testpred  102  :  0
testpred  103  :  0
testpred  104  :  0
testpred  105  :  0
testpred  106  :  0
testpred  107  :  0
testpred  108  :  0
testpred  109  :  0
testpred  110  :  0
testpred  111  :  0
testpred  112  :  1
testpred  113  :  1
testpred  114  :  1
testpred  115  :  0
testpred  116  :  0
testpred  117  :  1
testpred  118  :  1
testpred  119  :  1
testpred  120  :  1
testpred  121  :  0
testpred  122  :  1
testpred  123  :  0
testpred  124  :  0
testpred  125  :  0
testpred  126  :  0
testpred  127  :  1
testpred  128  :  0
testpred  129  :  0
testpred  130  :  1
testpred  131  :  0
testpred  132  :  1
testpred  133  :  0
testpred  134  :  0
testpred  135  :  0
testpred  136  :  0
testpred  137  :  0
testpred  138  :  1
testpred  139  :  0
testpred  140  :  0
testpred  141  :  1
testpred  142  :  1
testpred  143  :  0
testpred  144  :  0
testpred  145  :  1
testpred  146  :  1
testpred  147  :  0
testpred  148  :  0
testpred  149  :  1
testpred  150  :  1
testpred  151  :  0
testpred  152  :  0
testpred  153  :  0
testpred  154  :  0
testpred  155  :  0
testpred  156  :  1
testpred  157  :  1
testpred  158  :  0
testpred  159  :  0
testpred  160  :  1
testpred  161  :  1
testpred  162  :  0
testpred  163  :  0
testpred  164  :  0
testpred  165  :  0
testpred  166  :  0
testpred  167  :  0
testpred  168  :  1
testpred  169  :  0
testpred  170  :  0
testpred  171  :  0
testpred  172  :  0
testpred  173  :  0
testpred  174  :  0
testpred  175  :  0
testpred  176  :  0
testpred  177  :  1
testpred  178  :  0
testpred  179  :  1
testpred  180  :  0
testpred  181  :  1
testpred  182  :  1
testpred  183  :  0
testpred  184  :  1
testpred  185  :  0
testpred  186  :  1
testpred  187  :  0
testpred  188  :  0
testpred  189  :  0
testpred  190  :  1
testpred  191  :  0
testpred  192  :  1
testpred  193  :  0
testpred  194  :  0
testpred  195  :  0
testpred  196  :  1
testpred  197  :  0
testpred  198  :  0
testpred  199  :  1
testpred  200  :  1
testpred  201  :  1
testpred  202  :  1
testpred  203  :  1
testpred  204  :  0
testpred  205  :  0
testpred  206  :  0
testpred  207  :  0
testpred  208  :  1
testpred  209  :  0
testpred  210  :  0
testpred  211  :  0
testpred  212  :  0
testpred  213  :  0
testpred  214  :  0
testpred  215  :  0
testpred  216  :  0
testpred  217  :  1
testpred  218  :  1
testpred  219  :  0
testpred  220  :  0
testpred  221  :  0
testpred  222  :  0
testpred  223  :  0
testpred  224  :  0
testpred  225  :  0
testpred  226  :  0
testpred  227  :  0
testpred  228  :  0
testpred  229  :  1
testpred  230  :  1
testpred  231  :  1
testpred  232  :  0
testpred  233  :  0
testpred  234  :  0
testpred  235  :  0
testpred  236  :  1
testpred  237  :  0
testpred  238  :  0
testpred  239  :  0
testpred  240  :  0
testpred  241  :  1
testpred  242  :  1
testpred  243  :  0
testpred  244  :  0
testpred  245  :  1
testpred  246  :  0
testpred  247  :  1
testpred  248  :  1
testpred  249  :  1
testpred  250  :  1
testpred  251  :  0
testpred  252  :  1
testpred  253  :  0
testpred  254  :  0
testpred  255  :  0
testpred  256  :  0
testpred  257  :  0
testpred  258  :  0
testpred  259  :  0
testpred  260  :  1
testpred  261  :  0
testpred  262  :  0
testpred  263  :  1
testpred  264  :  0
testpred  265  :  0
testpred  266  :  0
testpred  267  :  0
testpred  268  :  0
testpred  269  :  0
testpred  270  :  0
testpred  271  :  0
testpred  272  :  1
testpred  273  :  0
testpred  274  :  0
testpred  275  :  1
testpred  276  :  0
testpred  277  :  0
testpred  278  :  0
testpred  279  :  0
testpred  280  :  0
testpred  281  :  1
testpred  282  :  0
testpred  283  :  1
testpred  284  :  1
testpred  285  :  0
testpred  286  :  0
testpred  287  :  1
testpred  288  :  0
testpred  289  :  0
testpred  290  :  0
testpred  291  :  0
testpred  292  :  0
testpred  293  :  1
testpred  294  :  0
testpred  295  :  0
testpred  296  :  0
testpred  297  :  0
testpred  298  :  0
testpred  299  :  0
testpred  300  :  1
testpred  301  :  0
testpred  302  :  0
testpred  303  :  0
testpred  304  :  0
testpred  305  :  0
testpred  306  :  1
testpred  307  :  1
testpred  308  :  1
testpred  309  :  0
testpred  310  :  0
testpred  311  :  0
testpred  312  :  0
testpred  313  :  0
testpred  314  :  1
testpred  315  :  1
testpred  316  :  1
testpred  317  :  0
testpred  318  :  0
testpred  319  :  1
testpred  320  :  0
testpred  321  :  0
testpred  322  :  0
testpred  323  :  1
testpred  324  :  1
testpred  325  :  0
testpred  326  :  0
testpred  327  :  1
testpred  328  :  0
testpred  329  :  0
testpred  330  :  0
testpred  331  :  0
testpred  332  :  0
testpred  333  :  0
testpred  334  :  0
testpred  335  :  1
testpred  336  :  1
testpred  337  :  0
testpred  338  :  1
testpred  339  :  0
testpred  340  :  0
testpred  341  :  1
testpred  342  :  1
testpred  343  :  1
testpred  344  :  0
testpred  345  :  1
testpred  346  :  0
testpred  347  :  0
testpred  348  :  0
testpred  349  :  0
testpred  350  :  1
testpred  351  :  0
testpred  352  :  0
testpred  353  :  1
testpred  354  :  1
testpred  355  :  1
testpred  356  :  1
testpred  357  :  0
testpred  358  :  0
testpred  359  :  0
testpred  360  :  0
testpred  361  :  0
testpred  362  :  0
testpred  363  :  0
testpred  364  :  1
testpred  365  :  1
testpred  366  :  1
testpred  367  :  0
testpred  368  :  1
testpred  369  :  0
testpred  370  :  0
testpred  371  :  1
testpred  372  :  0
testpred  373  :  0
testpred  374  :  1
testpred  375  :  1
testpred  376  :  0
testpred  377  :  0
testpred  378  :  1
testpred  379  :  0
testpred  380  :  1
testpred  381  :  0
testpred  382  :  0
testpred  383  :  0
testpred  384  :  0
testpred  385  :  1
testpred  386  :  0
testpred  387  :  0
testpred  388  :  0
testpred  389  :  1
testpred  390  :  1
testpred  391  :  0
testpred  392  :  0
testpred  393  :  0
testpred  394  :  0
testpred  395  :  1
testpred  396  :  0
testpred  397  :  1
testpred  398  :  0
testpred  399  :  0
testpred  400  :  1
testpred  401  :  0
testpred  402  :  1
testpred  403  :  0
testpred  404  :  0
testpred  405  :  0
testpred  406  :  0
testpred  407  :  1
testpred  408  :  1
testpred  409  :  1
testpred  410  :  1
testpred  411  :  1
testpred  412  :  0
testpred  413  :  0
testpred  414  :  1
testpred  415  :  0
testpred  416  :  0
testpred  417  :  0

#### define a new column to show the predicted values by knn algo

In [45]:
dftest['KnnSurvived'] = np.array(ypredknntest)

In [46]:
dftest

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,KnnSurvived
0,3,1,34.5,0,0,7.8292,0,1,0,0
1,3,0,47.0,1,0,7.0000,0,0,1,0
2,2,1,62.0,0,0,9.6875,0,1,0,0
3,3,1,27.0,0,0,8.6625,0,0,1,0
4,3,0,22.0,1,1,12.2875,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
413,3,1,33.5,0,0,8.0500,0,0,1,0
414,1,0,39.0,0,0,108.9000,1,0,0,1
415,3,1,38.5,0,0,7.2500,0,0,1,0
416,3,1,38.5,0,0,8.0500,0,0,1,0
417,3,1,38.5,1,1,22.3583,1,0,0,0

### SVM

#### from sklearn we import needed functions to fit our model and predict the x_valid at first for validation.
#### compute the loss function for validation
#### then try to know the accuracy of training and validating.(that we see they are almost in a range)

In [47]:
from sklearn.svm import SVC
model = SVC()
model.fit(X_train,y_train)
y_pred = model.predict(X_valid)

print('loss for valid data: ')
print(abs(np.mean(y_pred - y_valid)))

print('accuracy score(training): ',model.score(X_train,y_train))
print(f'accuracy score(validation): ',model.score(X_valid,y_valid))

loss for valid data:
0.24022346368715083
accuracy score(training):  0.6811797752808989
accuracy score(validation):  0.6703910614525139

#### try to predict using predict method in SVM and print it

In [48]:
ypred_test = model.predict(X_test)
print(ypred_test)

[0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0
 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0
 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0
 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 1
 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0
 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 0 0 0 1 1 0 0 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 1 0 0 0 1 0 0 1 0 0 0]

#### define a new column to show the predicted values by SVM algo

In [49]:
dftest['SvmSurvived'] = ypred_test.tolist()
dftest

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,KnnSurvived,SvmSurvived
0,3,1,34.5,0,0,7.8292,0,1,0,0,0
1,3,0,47.0,1,0,7.0000,0,0,1,0,0
2,2,1,62.0,0,0,9.6875,0,1,0,0,0
3,3,1,27.0,0,0,8.6625,0,0,1,0,0
4,3,0,22.0,1,1,12.2875,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
413,3,1,33.5,0,0,8.0500,0,0,1,0,0
414,1,0,39.0,0,0,108.9000,1,0,0,1,1
415,3,1,38.5,0,0,7.2500,0,0,1,0,0
416,3,1,38.5,0,0,8.0500,0,0,1,0,0
417,3,1,38.5,1,1,22.3583,1,0,0,0,0